@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
html, body {
  font-size: 0.9rem !important;       
}   
.ft-menu-item >ul li{
    font-size: 0.8rem !important;
} 
.search{
  display: none !important;
} 
/* menu bar */
.nav-menu .dropdown-menu{
  top: 1.8rem !important;
}

/* slider */
.slider figure{
    height: 30vh !important;
}

/* content service */
.conten-service{
  grid-template-columns: 1fr !important;
  margin: 0 auto;
}  
}

@media only screen 
and (min-width : 600px) 
and (max-width : 800px){
  /* content service */
  .conten-service{
    grid-template-columns: 1fr 1fr !important;
  } 
}