
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@font-face {
    font-family: "modern";
    src: url("SB-MODERN.TTF");
}

html ,body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'modern','Kanit',sans-serif;    
    color: #3e66b0; 
    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; 
}

a{
  color: #3e66b0;   
}
li{
    list-style: none;
}
/* Banner */
#nav{
    width: 95%;
} 
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
}
.banner{
    display: flex;    
    height: 60px;
    justify-content: space-between;
    align-items:flex-start;
}   
.banner .link-logo{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.banner .link-logo a{
    text-decoration: none;            
    text-transform: uppercase;
    position: absolute;
    margin-left: 0.5rem;            
}
.banner .link-logo a:first-child{
    top: 50%;
    font-size: 0.7rem;
}
.banner .link-logo a:last-child{
    bottom: 50%;
    font-size: 1.1rem;
}

.banner div:first-child{
    display: flex;
    flex-wrap: nowrap;
}
.banner div:last-child{
    display: grid;
    grid-template-columns: 1fr;
}
.banner div:last-child div{  
    display: inline;               
    text-align: end;  
}     
.banner div:last-child div i{
    margin-top: 5px;
}  

/* serach */
.search .input-search{
    position: relative;
    margin: 10px 15px;
}
.search .input-search input{
    border-radius: 50px;
    font-size: 1rem;
    border: 2px solid #7a7a7a;
    outline: none;   
    padding: 4px 15px;       
}
.search .input-search i{
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 10px;
    color: #7a7a7a;
    font-size: 20px;
}
.search ul{
    list-style: none;     
    text-align: end;   
    margin: -2px 15px;    
}
.search ul li{
    display: inline;
}
.search ul li a:hover{
    cursor: pointer;
}

/* Menu header */
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.active > a{
    border-bottom: 3px solid #cb04aa;
}
.nav-menu ul{
    display: flex;
    flex-wrap: wrap;
}
.nav-menu ul li{
    position: relative;
    width: 140px;
    display: inline-block;
    text-align: center;   
    padding-top: 0.5rem;
}
.nav-menu a{
    transition: transform .3s;    
    text-decoration: none; 
}
.nav-menu a:hover{      
    text-decoration: none;   
    border-bottom: 3px solid #cb04aa;
    transform: scale(1.1);
}
.bar-menu{
    display: none;
}
/* dropdown menu */
.show{
    display: block;
}
.nav-menu .dropdown-menu{ 
    display: none;   
    position: absolute;
    width: 100%;
    padding: 0ch; 
    top: 2.2rem;   
    z-index: 998;  
    background-color: #fff;    
    /* border: 1px solid black; */
}
.nav-menu .dropdown-menu li{    
    list-style: none;
    display: inline-block;
    border-bottom: 1px dotted #cb04aa;
    text-align: center;
}
.nav-menu .dropdown-menu li:last-child{
    border: 0;
}
.nav-menu .dropdown-menu a{    
   border: 0;
   font-size: 0.9rem;
   padding: 5px;
}

.nav-menu li:hover > .dropdown-menu{      
    display: block;    
}

/* menu-buttom */
.menu-buttom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-buttom .ducph ul{
    list-style: none;
    margin-right: auto;
}
.menu-buttom .ducph ul li{
    display: block;
    text-align: center;
}
.menu-buttom .menu-item ul{
    list-style: none;
    margin-left: auto;
}
.menu-buttom .menu-item ul li{
    width: 140px;
    display: inline-block;
    text-align: center;    
    transition: transform .2s;
}
.menu-buttom .menu-item ul li a{
    text-decoration: none;
    display: grid;
    align-items: center;
}
.menu-buttom .menu-item ul li a img{
    margin: 0 auto;
}
.menu-buttom .menu-item ul li a label{
    margin: 0 auto;
}
.menu-buttom .menu-item ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* content service section two */

.conten-service{   
    width: 100%;  
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.service-box{    
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 400px;    
    height: 350px;
    font-size: 0.8rem; 
    padding: 5px; 
}
.service-box p a{
    color: red; 
}
.service-box img{    
    width: 100%;
    transition: all 0.3s;
}
.service-box img:hover{
    transform: scale(1.1);
}


